.chart_container {
  box-shadow: var(--shadow-lg);
  padding: 2rem 0.5rem;
  width: 29rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.donut_header {
  padding: 1rem;
  border-bottom: 1px solid var(--color-grey-300);
}
