.chat_container {
  position: fixed;
  width: 30%;
  /* background-color: var(--main-color-1); */
  /* background-color: #fff; */
  /* box-shadow: var(--shadow-lg); */
  top: 20%;
  right: 2%;
  /* margin-bottom: 25rem; */
}

.chat_outer_container {
  /* background-color: var(--main-color-2); */
  /* background-color: var(--color-grey-300); */

  /* background-color: #fff; */
  /* background-color: green; */
  box-shadow: var(--shadow-lg);
  box-shadow: var(--shadow-light);
  border-radius: 50%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.chat_outermost_container {
  /* background-color: yellow; */
  width: 20rem;
  height: 15rem;
  /* width: fit-content; */
  position: fixed;
  left: 90%;
  top: 13%;
  /* margin-left: 80%; */
}
